.disabled-button {
    background: var(--back-color-disabled) !important;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 15px 25px;
    text-transform: capitalize;
    transition: background-position 4s ease;
    color: #fff;
    display: inline-block;
    border-radius: 0;
    border: none;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 0 0 4px rgba(255,255,255,.1);
    font-size: 16px;
}
.click:active{
    transform: scale(0.9);
}