.customer-note-add{
    background-color: var(--background-strong-blue);
    padding: 10px 15px;
    border-radius: 5px;
    height: 80vh;
    max-height: 80vh;
    .title-note{
        text-align: center;
        font-weight: bold;
        color: var(--color-text-strong-inverter);
        font-size: 17px;
        margin-bottom: 10px;
    }
    .list-note{
        height: 95%;
        width: 255px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .input-note {
        .ant-input{
            border: 1px solid black!important;
            border-radius: 5px !important;
        }
    }
    .ant-input-data-count {
        color: var(--color-text-strong-inverter) !important;
        font-weight: 500 !important;
    }
}