.menu-admi-pay {
    background-color: var(--background-menu-principal);
    height: 100%;
    width: 50px;
    .element-menu{
        cursor: pointer;
        margin-bottom: 10px;
    }
    .icon-menu-principal{
        font-size: 20px;
    }
}