.container-menu-principal{
    width: 10%;
}
.container-menu-header{
    width: 100%;
}
.white-space-load{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}