.modal-table-amortization{
    .title{
        text-align: center;
        font-weight: bold;
        margin: 15px 0;
        font-size: 18px;
    }
    table {
        tbody {
            tr {
                height: 25px;
            }
        }
    }
}